{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2 style="text-align:center; margin-bottom:20px;">欢迎使用办公室物品识别系统</h2>

    {% if user.is_authenticated %}
        <p style="text-align:center;">你已登录：{{ user.username }}</p>
        <div style="text-align:center; margin-top:20px;">
           <!-- 把原来的 href="#" 改成 href="/upload/" -->
<a href="/upload/" class="btn">开始上传图片</a>
            <a href="/logout/" class="btn" style="background:#ff5e57;">退出登录</a>
        </div>
    {% else %}
        <div style="text-align:center; margin-top:20px;">
            <a href="/login/" class="btn">用户登录</a>
            <a href="/register/" class="btn">注册账号</a>
        </div>
    {% endif %}
</div>
{% endblock %}